html {
	background-color: #ecdede;
}

.topbar {
	display: flex;
	font-size: 30px;
	font-family: arial,sans-serif;
}

.topbar_left {
	flex: 1;
	margin: 20px;
	display: flex;
	justify-content: flex-start;
}

.topbar_right {
	flex: 4;
	display: flex;
	margin: 20px;
	justify-content: flex-end;
}

.about, .story {
	margin: 10px;
}

.gmail, .images {
	margin: 10px;
}

.apps, .bell, .n{
	width: 40px;
	height: 40px;
	margin: 10px;
}


.image {
	display: flex;
	width: 700px;
	height: 450px;
	margin: auto;
	background-color: #ecdede;
}

.search {
	position:relative;
	width: 1000px;
	height: 50px;
	margin: 0px auto;
	border: 1px;
	display: block;
	font-size: 20px;
}

.inputbar {
	display: block;
}

.input {
	width: 900px;
	height: 40px;
	margin: 0 auto;
	display: block;
	font-size: 20px;
}

.mic {
	background: url(mic.png) no-repeat -3px 0;
	background-size: 24px 24px;
	display: inline-block;
	height: 23px;
	width: 17px;
	vertical-align: middle;
	float: right;
	position: static;
}

.button {
	display: flex;
	position: relative;
	margin: 0 auto;
	justify-content: center;

}

.google, .lucky {
	height: 40px;
	width: 200px;
	margin: 20px;
	font-size: 20px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	font-size: 30px;
	font-family: arial,sans-serif;
}

.footbar_left {
	flex: 1;
	margin: 20px;
	display: flex;
	justify-content: flex-start;
}

.footbar_right {
	flex: 4;
	display: flex;
	margin: 20px;
	justify-content: flex-end;
}

.Ad, .Business, .Privacy, .Terms, .Setting {
	margin: 10px;
	font-size: 30px;
}
